<% if $f["crt"] == true %>
    <p class = "change" >Book was successfully created.</p>
    <% $f["crt"] = false %>
<% end %>

<% if $f["up"] == true %>
    <p class = "change" >Book was successfully updated.</p>
    <% $f["up"] = false %>
<% end %>

<div class = "show" >
    <strong>Title: </strong><%= @book.title %>
</div>
<div class = "show" >
    <strong>Body: </strong><%= @book.body %>
</div>

<%= link_to "Edit", edit_book_path(@book.id) %>
 | <%= link_to "Back", books_path %>