* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 33px ;
}
.change{
  margin: 30px 60px;
  color: #00C000;
}
/*top*/
.top{
  margin:30px 30px;
}

/*index*/

th{
  padding-bottom: 3px;
}
td{
  padding: 0 5px 7px 5px;
}

h2{
  margin: 10px ;
}

.input{
  margin-top: 30px;
}
.errors-box{
  width: 500px;
  height: 132px;
  background-color: #F0F0F0;
  border: solid 2px #FF0000;
}
.errors-txt{
  padding-left: 10px;
  background-color: #FF0000;
  color: #FFFFFF;
}
ul{
  margin: 30px 60px;
  list-style: square;
}
.errors-input{
  padding: 1px;
  background-color: #FF0000;
  display: table;
}

/*show*/
.show{
  padding: 15px 30px;
}
.bottom{
  margin: 10px 0;
}